@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    
    --mainColor: hsl(var(--mainColor_HSL));
    --mainColor80: hsl(var(--mainColor_HSL), 0.80);
    --mainColor60: hsl(var(--mainColor_HSL), 0.60);
    --mainColor40: hsl(var(--mainColor_HSL), 0.40);
    --mainColor20: hsl(var(--mainColor_HSL), 0.20);
    
    --mainColor_HSL: var(--mainColor_Rosa);
    --mainColor_Rosa: 297, 100%, 42%;
    --mainColor_Roxo: 267, 100%, 63%;
    --mainColor_Vermelho: 0, 100%, 46%;
    --mainColor_Verde: 127, 100%, 27%;
    --mainColor_Azul: 214, 100%, 49%;

    --colorWhite: rgba(255, 255, 255, 1);
    --colorWhite20: rgba(255, 255, 255, 0.20);

    --colorBlack: rgba(0, 0, 0, 1);
    --colorBlack50: rgba(0, 0, 0, 0.5);
    --colorBlack2: rgba(32, 32, 32, 1);

    --sombraForte: drop-shadow(0 0 30px rgba(0, 0, 0, 0.3));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-tap-highlight-color: none !important;
    font-family: 'Poppins';
    line-height: 130%;
}

body {
    width: 100%;
    height: 100dvh;
    background: linear-gradient(135deg, rgba(30, 30, 30, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

button {
    border: none;
    background-color: unset;
    cursor: pointer;
}

#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    & h1 {
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        opacity: .3;
    }

    & button {
        background-color: var(--mainColor20);
        border: solid 1px var(--colorWhite20);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }
}

#menu {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--colorBlack2);
    filter: var(--sombraForte);
    z-index: 100;
}

.menu_item {
    width: calc(calc(100% / 3) - 20px);
    max-width: calc(400px / 3);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    z-index: 101;
    opacity: .3;
    cursor: pointer;
    border-radius: 10px;
    -webkit-tap-highlight-color: none !important;

    & svg {
        height: 20px;
    }

    & p {
        color: #FFF;
        font-size: 13px;
    }
}

.menu_itemSelected {
    opacity: 1;
    height: 60px;
    background-color: var(--colorWhite20);
    border: solid 1px var(--colorWhite20);
    -webkit-tap-highlight-color: none !important;
}

.screen {
    width: 100%;
    min-height: 100dvh;
    padding: 80px 20px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.screen_title {
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
}

.screen:has(#config) {
    padding: 40px 20px;
}

.screenInside {
    width: 100%;
    max-width: 350px;
}

.mainActionButton {
    width: 64px;
    height: 64px;
    position: fixed;
    right: 20px;
    bottom: 100px;
    background-color: var(--mainColor);
    border: solid 1px var(--colorWhite20);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    width: 100%;
    min-height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.modal .screenInside {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 2001;
}

.modal_background {
    width: 100%;
    min-height: 100dvh;
    background-color: var(--colorBlack50);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
}

/* UNIVERSAL UNIVERSAL UNIVERSAL */

/* CONFIG CONFIG CONFIG */

#config {
    display: flex;
    flex-flow: column;
    gap: 30px;

    & input {
        background-color: var(--mainColor20);
        border-radius: 10px;
        border: solid 1px var(--colorWhite20);
        height: 40px;
        padding: 0 10px;
        color: #FFF;
        font-size: 16px;
        
        &::placeholder {
            font-size: 16px;
            color: #FFF;
            opacity: .5;
        }
    }

    & button {
        background-color: var(--mainColor);
        border: solid 1px var(--colorWhite20);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }
}

#config_title {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    & h2 {
        color: #FFF;
        font-size: 32px;
        font-weight: bold;
    }

    & button {
        background-color: var(--mainColor20);
        border: solid 1px var(--colorWhite20);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }
}

#config_item {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 20px;

    & hr {
        border-color: var(--colorWhite20);
    }
}

.config_item_bloco {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.config_item_bloco_info,
.config_item_bloco_inputPlace {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;

    & h3, p {
        color: #FFF;
        font-size: 20px;
    }
    
    & label {
        width: calc(100% - 50px);
        display: flex;
        flex-flow: column;
        gap: 10px;
    }
}

.config_item_bloco_inputPlace p {
    font-size: 14px;
}

.config_item_meta .config_item_bloco_info {
    max-width: calc(50% - 5px);
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;

    & p {
        font-size: 14px;
    }
}

.config_item_meta .config_item_bloco_inputPlace {
    max-width: calc(50% - 5px);
}

.config_item_mainColor {
    justify-content: space-between;
}

.config_item_selectColor{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #FFF;
    font-size: 12px;
    opacity: .5;
}

.config_item_selectColor_color {
    width: 48px;
    height: 48px;
    border: solid 2px transparent;
    border-radius: 10px;
    background-color: #FFF;
}

.config_item_selectColor.selected {
    opacity: 1;

    & .config_item_selectColor_color {
        border-color: #FFF;
    }
}

/* CONFIG CONFIG CONFIG */

/* HOME HOME HOME */

#home {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.blocoPadrao {
    border-radius: 20px;
    background-color: var(--mainColor20);
    border: solid 1px var(--colorWhite20);
}

#home_bloco_meta {
    display: flex;
    position: relative;
    min-height: 190px;
    background-image: url(imgs/background-grade.png);
    background-size: 420px;
    background-position: 50%;
}

#fake_home_bloco_meta {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
}

#home_bloco_meta_progressBar {
    position: absolute;
    left: -200px;
    animation: progressBarAnimation 24s infinite ease-in-out;
}

@keyframes progressBarAnimation {
    0% {
        top: -0px;
    }

    50% {
        top: -240px;
    }

    100% {
        top: -0px;
    }
}

#home_bloco_meta_inProgressMeta {
    position: absolute;
    z-index: 1;
    color: #FFF;
    font-size: 20px;
    text-align: left;
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 15px;
    top: -13px;
    left: -15px;

    & h2 {
        font-size: 100px;
    }
}

#home_bloco_meta_finalMeta {
    position: absolute;
    z-index: 1;
    color: #FFF;
    font-size: 20px;
    text-align: right;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    gap: 15px;
    bottom: -13px;
    right: -15px;

    & h2 {
        font-size: 100px;
    }
}




.itemTreinoLista {
    width: 100%;
    max-width: 353px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
}

.itemTreinoLista_treinoID {
    display: flex;
    flex-flow: column;

    & p {
        color: var(--colorWhite);
    }

    & p:first-of-type {
        font-size: 20px;
    }

    & p:last-of-type {
        font-size: 40px;
        font-weight: 800;
        margin-top: -5px;
    }
}