@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --mainColor_HSL: var(--mainColor_Roxo);

    --mainColor: hsl(var(--mainColor_HSL));
    --mainColor80: hsl(var(--mainColor_HSL), 0.80);
    --mainColor60: hsl(var(--mainColor_HSL), 0.60);
    --mainColor40: hsl(var(--mainColor_HSL), 0.40);
    --mainColor20: hsl(var(--mainColor_HSL), 0.20);

    --mainColor_Rosa: 297, 100%, 42%;
    --mainColor_Roxo: 267, 100%, 63%;
    --mainColor_Vermelho: 0 100% 46%;
    --mainColor_Verde: 127 100% 27%;
    --mainColor_Azul: 214 100% 49%;

    --colorWhite: rgba(255, 255, 255, 1);
    --colorWhite20: rgba(255, 255, 255, 0.20);
}

* {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    -webkit-tap-highlight-color: none;
    font-family: 'Poppins';
    line-height: 130%;
}

body {
    width: 100%;
    height: 100dvh;
    background: linear-gradient(135deg, rgba(41,41,41,1) 0%, rgba(0,0,0,1) 100%);
}

.screen {
    width: 100%;
    min-height: 100dvh;
    padding: 80px 20px;
}

#home {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

#home_title {
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
}

.blocoPadrao {
    border-radius: 20px;
    background-color: var(--mainColor20);
    border: solid 1px var(--colorWhite20);
}

#home_bloco_meta {
    display: flex;
    position: relative;
    min-height: 190px;
}